.btn {
    width: 50% !important;
    background-color: #608D8F;
    margin-left: 25%;
    margin-top: 1.5rem;
}

.btn:hover {
    background-color: #89BAC8;
}

.ex3 {
    display: grid;
    gap: 2rem;
    place-content: center;
    justify-items: center;
    padding: 10rem 5rem !important;
}

.ex3 form {
    width: 50%;
}