.scrollable-grid {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 20rem;
    height: auto;
}

.scrollable-grid .card {
    width: 18rem; 
    height: 100%; 
}

.card-img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
}

.btn {
    background-color: #608D8F;
}

.btn:hover {
    background-color: #89BAC8;
}

