
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title> Login and Registration Form in HTML & CSS | CodingLab </title>
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="static/img/1.png" alt="">
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Iniciar Sesion</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <input type="text" placeholder="Ingrese su mail" required>
              </div>
              <div class="input-box">
                <input type="password" placeholder="Ingrese su contrasena" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Todavia no tienes cuenta? <label for="flip">Crea una</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Crea Usuario</div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <input type="text" placeholder="Ingrese su mail" required>
              </div>
              <div class="input-box">
                <input type="text" placeholder="Ingrese nombre  de Usuario" required>
              </div>
              <div class="input-box">
                <input type="password" placeholder="Ingrese contrasena" required>
              </div>
              <div class="input-box">
                <input type="date" placeholder="Ingrese su edad" required>
              </div>
              <div class="input-box">
                <select type="text" placeholder="Ingrese su enfoque " required></select>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Ya tienes una cuenta? <label for="flip">Iniciar Sesion</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>

