<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../static/img/1.png" />
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static 'img/1.png' %}" alt="">
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Iniciar Sesion</div>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <input type="text" name="username" placeholder="Nombre de usuario" required>
              </div>
              <div class="input-box">
                <input type="password" name="password" placeholder="Contraseña" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">¿Todavía no tenés cuenta? <label for="flip">Creá una</label></div>
            </div>
          </form>
        </div>
        <div class="signup-form">
          <div class="title">Creá Usuario</div>
          <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
                <input type="text" name="email" placeholder="Correo electrónico" required>
              </div>
              <div class="input-box">
                <input type="text" name="username" placeholder="Nombre de usuario" required>
              </div>
              <div class="input-box">
                <input type="password" name="password" placeholder="Contrasena" required>
              </div>
              <div class="input-box">
                <input type="date" name="date_of_birth" placeholder="Fecha de nacimiento" required>
              </div>
              <div class="input-box">
                <select name="focus" required>
                  <option value="alzheimer">Alzheimer</option>
                  <option value="dyslexia">Dislexia</option>
                </select>
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              <div class="text sign-up-text">¿Ya tenés una cuenta? <label for="flip">Iniciar sesión</label></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
