{% extends 'base.html' %}

{% block title %}Info{% endblock %}
{%block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/achievements.css' %}">
{% endblock head %}
{% block content %}
<div class="container logros">
    <h1>Acá podes ver tu progreso:</h1>
    <div class="row" >
        {% for achiv in achievement_list  %}
        <div class="col-sm ">
            <h3>{{ achiv.name }}</h3>
            <label> <i class="bi bi-trophy"></i> <progress max="{{ achiv.limit }}" value="{{ achiv.progress }}">{{achiv.progress}}%</progress></label>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}