{% extends 'base.html' %}

{% block title %}Logros{% endblock %}

{%block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/achievements.css' %}">
{% endblock head %}

{% block content %}
{% for achiv in achievement_list  %}
<div class="card-transparent">
    <div class="card-header">{{achiv.name}}</div>
    <div class="card-block "><div class="progress blue">
        <span class="progress-left">
            <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">{{achiv.progress}}%</div>
              </div></div>
{% endfor %}
</div>
{% endblock %}